USE [BootsrapSinifSiteDB]
GO
/****** Object:  Table [dbo].[TBL_DERSLER]    Script Date: 11.11.2022 17:24:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_DERSLER](
	[DERSID] [int] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_DERSLER] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_DUYURULAR]    Script Date: 11.11.2022 17:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_DUYURULAR](
	[DUYURUID] [int] IDENTITY(1,1) NOT NULL,
	[DUYURUBASLIK] [varchar](50) NULL,
	[DUYURUICERIK] [varchar](250) NULL,
	[DUYURUOGRT] [int] NULL,
 CONSTRAINT [PK_TBL_DUYURULAR] PRIMARY KEY CLUSTERED 
(
	[DUYURUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_MESAJLAR]    Script Date: 11.11.2022 17:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_MESAJLAR](
	[MESAJID] [int] IDENTITY(1,1) NOT NULL,
	[GONDEREN] [varchar](5) NULL,
	[ALICI] [varchar](5) NULL,
	[BASLIK] [varchar](50) NULL,
	[ICERIK] [varchar](50) NULL,
	[TARIH] [smalldatetime] NULL CONSTRAINT [DF_TBL_MESAJLAR_TARIH]  DEFAULT (getdate()),
 CONSTRAINT [PK_TBL_MESAJLAR] PRIMARY KEY CLUSTERED 
(
	[MESAJID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_NOTLAR]    Script Date: 11.11.2022 17:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRENCIID] [int] NOT NULL,
	[DERSNID] [int] NOT NULL,
	[SINAV1] [tinyint] NULL CONSTRAINT [DF_TBL_NOTLAR_SINAV1]  DEFAULT ((0)),
	[SINAV2] [tinyint] NULL CONSTRAINT [DF_TBL_NOTLAR_SINAV2]  DEFAULT ((0)),
	[SINAV3] [tinyint] NULL CONSTRAINT [DF_TBL_NOTLAR_SINAV3]  DEFAULT ((0)),
	[ORTALAMA] [decimal](18, 2) NULL CONSTRAINT [DF_TBL_NOTLAR_ORTALAMA]  DEFAULT ((0)),
	[DURUM] [bit] NULL CONSTRAINT [DF_TBL_NOTLAR_DURUM]  DEFAULT ((0)),
 CONSTRAINT [PK_TBL_NOTLAR] PRIMARY KEY CLUSTERED 
(
	[OGRENCIID] ASC,
	[DERSNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_OGRENCI]    Script Date: 11.11.2022 17:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_OGRENCI](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[NUMARA] [varchar](5) NULL,
	[OGRAD] [varchar](30) NULL,
	[OGRSOYAD] [varchar](30) NULL,
	[OGRFOTOGRAF] [varchar](100) NULL,
	[OGRTELEFON] [varchar](20) NULL,
	[OGRMAIL] [varchar](50) NULL,
	[OGRSIFRE] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_OGRENCI] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_OGRETMEN]    Script Date: 11.11.2022 17:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_OGRETMEN](
	[OGRTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRTADSOYAD] [varchar](30) NULL,
	[OGRTFOTO] [varchar](100) NULL,
	[OGRTBRANS] [int] NULL,
	[OGRTNUMARA] [varchar](4) NULL,
	[OGRTSIFRE] [varchar](10) NULL,
 CONSTRAINT [PK_TBL_OGRETMEN] PRIMARY KEY CLUSTERED 
(
	[OGRTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_DERSLER] ON 

INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (1, N'PAS OYUNU')
INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (2, N'ŞUT PLANI')
INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (3, N'KORNER TAKTİĞİ')
SET IDENTITY_INSERT [dbo].[TBL_DERSLER] OFF
SET IDENTITY_INSERT [dbo].[TBL_DUYURULAR] ON 

INSERT [dbo].[TBL_DUYURULAR] ([DUYURUID], [DUYURUBASLIK], [DUYURUICERIK], [DUYURUOGRT]) VALUES (1, N'PAS ANTREMAN', N'BU ANTREMANDA PAS İLE İLGİLİ GEÇİŞLER VARDIR.', 1)
INSERT [dbo].[TBL_DUYURULAR] ([DUYURUID], [DUYURUBASLIK], [DUYURUICERIK], [DUYURUOGRT]) VALUES (5, N'PENALTI', N'PENALTI VURUŞ NOKTASINDA ÇOK SOĞUKKANLI OLMALISINIZ.', 3)
INSERT [dbo].[TBL_DUYURULAR] ([DUYURUID], [DUYURUBASLIK], [DUYURUICERIK], [DUYURUOGRT]) VALUES (6, N'RAKİBE BASKI OYUNU', N'BASKI KURARKEN GERİYE FAZLA DÖNMEYİN .', 2)
SET IDENTITY_INSERT [dbo].[TBL_DUYURULAR] OFF
SET IDENTITY_INSERT [dbo].[TBL_MESAJLAR] ON 

INSERT [dbo].[TBL_MESAJLAR] ([MESAJID], [GONDEREN], [ALICI], [BASLIK], [ICERIK], [TARIH]) VALUES (12, N'1', N'01', N'HOJJAM', N'HOJAM SENİ ÇOK ÖZLEDİK VE TAKIMIN BAŞINA GEÇMENİ B', CAST(N'2022-11-11 16:20:00' AS SmallDateTime))
INSERT [dbo].[TBL_MESAJLAR] ([MESAJID], [GONDEREN], [ALICI], [BASLIK], [ICERIK], [TARIH]) VALUES (13, N'01', N'1', N'PANTERİMİZ', N'BEN DE ÇOK ÖZLEDİM SİZLERİ.', CAST(N'2022-11-11 16:24:00' AS SmallDateTime))
INSERT [dbo].[TBL_MESAJLAR] ([MESAJID], [GONDEREN], [ALICI], [BASLIK], [ICERIK], [TARIH]) VALUES (14, N'1', N'7', N'TAKIMDA HERYERDE', N'MAÇTA HER YERDESİN BRAVO', CAST(N'2022-11-11 16:28:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[TBL_MESAJLAR] OFF
SET IDENTITY_INSERT [dbo].[TBL_NOTLAR] ON 

INSERT [dbo].[TBL_NOTLAR] ([NOTID], [OGRENCIID], [DERSNID], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (1, 1, 3, 45, 85, 0, CAST(0.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[TBL_NOTLAR] ([NOTID], [OGRENCIID], [DERSNID], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (2, 2, 2, 65, 75, 95, CAST(78.33 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBL_NOTLAR] ([NOTID], [OGRENCIID], [DERSNID], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (3, 4, 6, 65, 55, 0, CAST(0.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[TBL_NOTLAR] OFF
SET IDENTITY_INSERT [dbo].[TBL_OGRENCI] ON 

INSERT [dbo].[TBL_OGRENCI] ([OGRID], [NUMARA], [OGRAD], [OGRSOYAD], [OGRFOTOGRAF], [OGRTELEFON], [OGRMAIL], [OGRSIFRE]) VALUES (1, N'1', N'FERNANDO', N'MUSLERA', N'https://imgyukle.com/f/2022/11/05/JR5YC1.jpg', N'11111111111', N'muslera@gmail.com', N'1')
INSERT [dbo].[TBL_OGRENCI] ([OGRID], [NUMARA], [OGRAD], [OGRSOYAD], [OGRFOTOGRAF], [OGRTELEFON], [OGRMAIL], [OGRSIFRE]) VALUES (2, N'2', N'İCARDİ', N'MAURO', N'https://imgyukle.com/f/2022/11/05/JRNaw8.jpg', N'22222222222', N'icardi@gmail.com', N'2')
INSERT [dbo].[TBL_OGRENCI] ([OGRID], [NUMARA], [OGRAD], [OGRSOYAD], [OGRFOTOGRAF], [OGRTELEFON], [OGRMAIL], [OGRSIFRE]) VALUES (3, N'3', N'BAYRAM', N'EMİN', N'https://imgyukle.com/f/2022/11/05/JRNccA.jpg', N'33333333333', N'emin@gmail.com', N'3')
SET IDENTITY_INSERT [dbo].[TBL_OGRENCI] OFF
SET IDENTITY_INSERT [dbo].[TBL_OGRETMEN] ON 

INSERT [dbo].[TBL_OGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTFOTO], [OGRTBRANS], [OGRTNUMARA], [OGRTSIFRE]) VALUES (1, N'FATİH TERİM', NULL, 1, N'01', N'1')
INSERT [dbo].[TBL_OGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTFOTO], [OGRTBRANS], [OGRTNUMARA], [OGRTSIFRE]) VALUES (2, N'OKAN BURUK', NULL, 2, N'02', N'2')
INSERT [dbo].[TBL_OGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTFOTO], [OGRTBRANS], [OGRTNUMARA], [OGRTSIFRE]) VALUES (3, N'AHMET ALTUNTAŞ', NULL, 6, N'03', N'3')
SET IDENTITY_INSERT [dbo].[TBL_OGRETMEN] OFF
ALTER TABLE [dbo].[TBL_DUYURULAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DUYURULAR_TBL_OGRETMEN] FOREIGN KEY([DUYURUOGRT])
REFERENCES [dbo].[TBL_OGRETMEN] ([OGRTID])
GO
ALTER TABLE [dbo].[TBL_DUYURULAR] CHECK CONSTRAINT [FK_TBL_DUYURULAR_TBL_OGRETMEN]
GO
ALTER TABLE [dbo].[TBL_NOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_NOTLAR_TBL_DERSLER] FOREIGN KEY([DERSNID])
REFERENCES [dbo].[TBL_DERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBL_NOTLAR] CHECK CONSTRAINT [FK_TBL_NOTLAR_TBL_DERSLER]
GO
ALTER TABLE [dbo].[TBL_NOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_NOTLAR_TBL_OGRENCI] FOREIGN KEY([OGRENCIID])
REFERENCES [dbo].[TBL_OGRENCI] ([OGRID])
GO
ALTER TABLE [dbo].[TBL_NOTLAR] CHECK CONSTRAINT [FK_TBL_NOTLAR_TBL_OGRENCI]
GO
ALTER TABLE [dbo].[TBL_OGRETMEN]  WITH CHECK ADD  CONSTRAINT [FK_TBL_OGRETMEN_TBL_DERSLER] FOREIGN KEY([OGRTBRANS])
REFERENCES [dbo].[TBL_DERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBL_OGRETMEN] CHECK CONSTRAINT [FK_TBL_OGRETMEN_TBL_DERSLER]
GO
/****** Object:  StoredProcedure [dbo].[OGRNOTLAR]    Script Date: 11.11.2022 17:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OGRNOTLAR]
AS
SELECT NOTID, OGRENCIID, (OGRAD+' '+OGRSOYAD) AS 'ÖĞRENCİADSOYAD',DERSAD,SINAV1,SINAV2,SINAV3,ORTALAMA,DURUM FROM TBL_NOTLAR
INNER JOIN TBL_OGRENCI
ON TBL_OGRENCI.OGRID=TBL_NOTLAR.OGRENCIID
INNER JOIN TBL_DERSLER 
ON TBL_DERSLER.DERSID=TBL_NOTLAR.DERSNID
GO
